<div class="user-login">
  <div class="logout-text">You have been successfully logged out</div>
  <%= link_to show_user_login_path do %>
    <div class="new-user-button">Return to Login</div>
  <% end %>
</div>
