<ul>
  <% @projects.each do |each_project| %>
      <%= list_item_to_path_named user_project_path(@user.id, each_project.id), each_project.display_string %>
  <% end %>
</ul>

<%= link_to new_user_project_path(@user.id) do %>
    <div class="new-button">New</div>
<% end %>
