<%= @project.name %>
<div>SOW</div>
<div>
  <%= @project.display_string %>
</div>

<%= content_for :buttons_bar do %>
    <%= link_to edit_user_project_path(@user.id, @project.id) do %>
        <div class="add-button">Edit</div>
    <% end %>
<% end %>
