<ul>
  <% @timesheets.each do |each_timesheet| %>
      <li>
        <%= link_to user_timesheet_path(@user.id, each_timesheet.id) do %>
            <div>
              <%= each_timesheet.display_string %>
            </div>
        <% end %>
      </li>
  <% end %>
  <li>
      <%= link_to user_timesheets_path(@user.id), method: :post do %>
          <div class="new-button">+</div>
      <% end %>
  </li>
</ul>