.buttons-bar {
    background-color: black;
    height: 10%;
    position: fixed;
    top: 90%;
    width: 100%;
    text-align: center;
}

#buttons-bar-popup {
    background-color: black;
    position: fixed;
    top: 50%;
    height: 50%;
    width: 100%;
    text-align: center;
}

.add-button {
    background-color: cornflowerblue;
    color: white;
}

.delete-button {
    background-color: lightcoral;
    color: #730E15;
}

.edit-button {
    background-color: #DADADA;
    color: black;
}

#buttons-bar-popup a div {
    color: white;
    width: 80%;
    text-align: center;
    height: 14%;
    margin: 10%;
    border-radius: 8px;
    padding-top: 5%;
}

.add-button {
    background-color: deepskyblue;   
    width: 85%;
    height: 20%;
    border-radius: 5%;
}

.buttons-bar i {
    color: white;
    font-size: 3em;
    margin: 2%;
}

.buttons-bar i:hover {
    color: aquamarine;
}

#cancel-icon {
    float: left;
}