.change {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.change textarea {
    width: 100%;
    line-height: 3em;
    font-size: x-large;
}

.change input {
    margin-top: 2%;
    width: 100%;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid black;
}

.change input[type="text"]:disabled {
    background-color:rgb(228, 228, 228);
    color: black;
    padding: 1%;
    border: medium none;
}

.change label {
    display: block;
    text-align: left;
    margin-top: 2%;
    font-size: xx-large;
}

.change .change-buttons input {
    padding: 2%;
}

.change select {
    border-radius: 5px;
    border: 1px solid;
    border: medium none;
}

.change select:disabled {
    background-color: rgb(228, 228, 228);
    color: black;
}

.disabled-form .change-buttons {
    display: none;
}

.disabled-form .edit-button {
    font-size: xx-large;
    font-weight: bolder;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    background-color: #00CC99;
}

.enabled-form .edit-button {
    display: none;
}
