.change {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.change textarea {
    width: 100%;
    line-height: 3em;
    font-size: x-large;
}

.change input {
    margin-top: 2%;
    width: 100%;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid black;
}

.change input[type="button"] {
    padding: 1%;
}

.change label {
    display: block;
    text-align: left;
    margin-top: 2%;
    font-size: xx-large;
}

.change .change-buttons input {
    padding: 2%;
}

.change select {
    border-radius: 5px;
    border: 1px solid;
    border: medium none;
}

.enabled-form .edit-button {
    display: none;
}

.edit-button {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    margin-top: 2%;
    width: 90%;
    font-size: x-large;
    border-radius: 5px;
    border: 1px solid black;
}
