.invisible {
    display: none;
}

.visible {
    display: block;
}

#menu-bar {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: black;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-top: 2%;
    height: 10%;
}

#home-menu-button {
    display: inline;
    float: left;
    vertical-align: top;
    margin-left: 2%;
}

i:hover {
    color: aquamarine;
    cursor: pointer;
}

#menu-bar-title {
    display: inline;
    vertical-align: top;
}

a i {
    color: white;
}
