.invisible {
    display: none;
}

.visible {
    display: block;
}

.menu-bar {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: black;
    color: white;
    font-size: xx-large;
    text-align: center;
    height: 10%;
}

#home-menu-button {
    display: inline;
    float: left;
    vertical-align: top;
    margin-left: 2%;
}

#menu-bar-title {
    display: inline;
}

.menu-bar i {
    color: white;
    padding: 2%;
    font-size: 2em;
}

.menu-bar i:hover {
    color: aquamarine;
    cursor: pointer;
}
