<div>
  <%= render 'select' %>
</div>

<% content_for :buttons_bar do %>
    <%= link_to new_user_project_story_card_path(@user.id, @user.current_project.id) do %>
        <div class="add-button">+</div>
    <% end %>
<% end %>