<% content_for :specific_scripts do %>
    <%= javascript_include_tag 'activities' %>
<% end %>

<div id="activity-content">
</div>

<% content_for :buttons_bar do %>
    <div id="edit-activity-button" class="edit-button">Edit</div>
    <%= link_to user_timesheet_activity_path(@user.id, @activity.timesheet_id, @activity.id), method: :DELETE do %>
        <div class="delete-button">Delete</div>
    <% end %>
<% end %>

<script type="text/javascript">
  EditableActivityController.initialize();
</script>