<div>Select Activity Story Card</div>

<%= render 'story_cards/select' %>
<%= link_to new_story_card_for_activity_path(@user.id, params[:timesheet_id]) do %>
    <div class="add-button">New Story Card</div>
<% end %>
