<div>Select Activity Story Card</div>

<%= render 'story_cards/select' %>

<% content_for :buttons_bar do %>
    <%= link_to '' do %>
        <div class="add-button">+</div>
    <% end %>
    <%= link_to '' do %>
        <div class="">Cancel</div>
    <% end %>
<% end %>