
<span class="buttons-bar">
      <div>
        <i id="cancel-icon" class="fa fa-arrow-left w3-xxxlarge"></i>
      </div>
      <div>
        <i id="buttons-menu-icon" class="fa fa-bars w3-xxxlarge"></i>
      </div>
</span>