
  <%= link_to user_path(@user.id) do %>
      <i event-action="" id="home-menu-button" class="fa fa-home w3-xxxlarge"></i>
  <% end %>
  <div id="menu-bar-title">Timekeeper</div>
  <i event-action="show-menu-dropdown" id="menu-dropdown-button" class="fa fa-bars w3-xxxlarge"></i>
