
<div id="menu-bar">
  <%= link_to user_path(@user.id) do %>
      <i id="home-menu-button" class="fa fa-home w3-xxxlarge"></i>
  <% end %>
  <div id="menu-bar-title">Home</div>
  <i id="menu-dropdown-button" class="fa fa-bars w3-xxxlarge"></i>
</div>