<!DOCTYPE html>
<html>
<head>
  <title>Timekeeper20</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="menu-bar">
      <i id="home-menu-button" class="fa fa-home w3-xxxlarge"></i>
      <div id="menu-bar-title">Home</div>
      <i id="menu-dropdown-button" class="fa fa-bars w3-xxxlarge"></i>
    </div>
    <div id="menu-dropdown" class="invisible">
      <%= link_to user_timesheets_path(@user.id), remote: true do %>
          <div class="menu-dropdown-option">Timesheets</div>
      <% end %>
      <div class="menu-dropdown-option">Story Cards</div>
      <div class="menu-dropdown-option">SOWs</div>
    </div>
    <div id="page-body"></div>
    <div id="buttons-bar"></div>
    <script type="text/javascript">
      MenubarController.initialize();
    </script>
</body>
</html>
